# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.config
WSCasaTradicion/.vs/WSCasaTradicion/v16/.suo
*.cache
*.pdb
*.cache
WSCasaTradicion/.vs/WSCasaTradicion/v16/.suo
*.config
*.cache
WSCasaTradicion/WSCasaTradicion/obj/Debug/WSCasaTradicion.csproj.FileListAbsolute.txt
*.cache
*.pdb
WSCasaTradicion/.vs/WSCasaTradicion/v16/.suo
WSCasaTradicion/.vs/WSCasaTradicion/v16/.suo
*.compiled
*.compiled
*.rsp
*.rsp
*.diagram
*.targets
*.pdb
*.cache
*.pdb
*.cache
*.pdb
*.cache
*.txt
*.asax
*.ssdl
WSCasaTradicion/.vs/WSCasaTradicion/v16/.suo
WSCasaTradicion/WSCasaTradicion/bin/WSCasaTradicion.pdb
WSCasaTradicion/WSCasaTradicion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WSCasaTradicion/WSCasaTradicion/obj/Release/edmxResourcesToEmbed/Models/WSModel.csdl
WSCasaTradicion/WSCasaTradicion/obj/Release/edmxResourcesToEmbed/Models/WSModel.msl
WSCasaTradicion/WSCasaTradicion/obj/Release/edmxResourcesToEmbed/Models/WSModel.ssdl
WSCasaTradicion/WSCasaTradicion/obj/Release/WSCasaTradicion.csproj.CopyComplete
WSCasaTradicion/WSCasaTradicion/Properties/PublishProfiles/FolderProfile.pubxml
WSCasaTradicion/WSCasaTradicion/Properties/PublishProfiles/FolderProfile.pubxml.user
WSCasaTradicion/WSCasaTradicion/WSCasaTradicion.csproj
WSCasaTradicion/WSCasaTradicion/WSCasaTradicion.csproj.user
*.pdb
*.cache
*.csproj
*.user
WSCasaTradicion/.vs/WSCasaTradicion/v16/.suo
WSCasaTradicion/WSCasaTradicion/bin/WSCasaTradicion.pdb
WSCasaTradicion/WSCasaTradicion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WSCasaTradicion/WSCasaTradicion/WSCasaTradicion.csproj
WSCasaTradicion/WSCasaTradicion/WSCasaTradicion.csproj.user
